*~
lib_managed/
project/boot/
project/build/target/
project/plugins/project/build.properties
src_managed/
target/
*.eml
*.iml
*.ipr
*.iws
.*.sw?
.idea
.classpath
.project
.settings
.cache
/bin
/tags
/scripts/cas-tgt-url.txt
/scripts/cookies.txt
valintarekisteri-it-db
.opintopolku-local/
.DS_Store
.bloop/
.metals/
.vscode/
