.heading {
    position: fixed; z-index: 2; background-color: lightsteelblue; padding: 10px;
}

#haku-list {
    position: relative; top: 200px;
}

#haku-list li.clickable span {
    color: -webkit-link;
}

.ajax-indicator {
    position: absolute; margin: 0; visibility: hidden;
}

.haku-row {
    list-style: none; margin-bottom: 20px;
}

.background-updater {
    margin: 20px 0 20px 0; background-color: lightyellow;
}
.background-updater input,button {
    margin: 10px;
}

.clickable {
    cursor: pointer;
}
.clickable span:hover,a:hover {
    background-color: lightyellow;
}

