# Logger
rootLogger.level = {{env:env_loglevel}}
rootLogger.appenderRefs = FILE

{# raw-endraw -välillä template engine ei tee mitään! #}
{% raw %}
# Console output
appender.console.type = Console
appender.console.name = STDOUT
appender.console.filter.threshold.type = ThresholdFilter
appender.console.filter.threshold.level = error
appender.console.layout.type = PatternLayout
appender.console.layout.pattern = %d{yyyy-MM-dd'T'HH:mm:ss.SSSX} %-5p {%X{user}} [%t] %-5p %c: %m%n
{% endraw %}

# File output
appender.file.type = RollingFile
appender.file.name = FILE
appender.console.filter.threshold.type = ThresholdFilter
appender.console.filter.threshold.level = debug
appender.file.fileName = ${sys:user.home}/tomcat/logs/oph-valintatulosservice.log
appender.file.layout.type = PatternLayout
appender.file.layout.pattern = %d{yyyy-MM-dd'T'HH:mm:ss.SSSX} %-5p {%X{user}} [%t] %-5p %c: %m%n
appender.file.policies.type = Policies
appender.file.policies.time.type = TimeBasedTriggeringPolicy
appender.file.policies.size.type = SizeBasedTriggeringPolicy
appender.file.policies.size.size = 10MB
appender.file.strategy.type = DefaultRolloverStrategy
appender.file.strategy.max = 100

# By default hide these spammers by default
logger.cxf.name = org.apache.cxf
logger.cxf.level = error
logger.spring.name = org.springframework
logger.spring.level = error
logger.vaadin.name = org.vaadin
logger.vaadin.level = error
logger.sql.name = javax.sql
logger.sql.level = error
logger.activemq.name = org.apache.activemq
logger.activemq.level =  error
logger.activemqspring.name = org.apache.activemq.spring
logger.activemqspring.level = {{env:env_loglevel}}

# cas session + singlelogout tracing
logger.jasig.name = log4j.logger.org.jasig.cas.client.session
logger.jasig.level = info
logger.flyway.name = log4j.logger.org.flywaydb
logger.flyway.level = info
