henkiloviite.port={{palvelu_portti}}
henkiloviite.idle_timeout_seconds={{palvelu_idle_timeout_seconds}}
henkiloviite.oppijanumerorekisteri.url=https://{{host_virkailija}}/oppijanumerorekisteri-service
henkiloviite.duplicatehenkilos.url=https://{{host_virkailija}}/oppijanumerorekisteri-service/s2s/duplicateHenkilos
henkiloviite.username={{valinta_tulos_henkiloviite_synchronizer_cas_user}}
henkiloviite.password={{valinta_tulos_henkiloviite_synchronizer_cas_password}}
henkiloviite.cas.host=https://{{host_virkailija}}/cas
henkiloviite.valintarekisteri.db.url=jdbc:postgresql://{{host_postgresql_valintarekisteri}}/valintarekisteri
henkiloviite.valintarekisteri.db.user={{postgres_app_user}}
henkiloviite.valintarekisteri.db.password={{host_postgresql_valintarekisteri_app_password}}
henkiloviite.scheduler.start.hour={{valinta_tulos_henkiloviite_synchronizer_scheduler_start_hour}}
henkiloviite.scheduler.interval.hours={{valinta_tulos_henkiloviite_synchronizer_scheduler_interval_hours}}
